main {
  height: 300px;
  position: relative;
  div {
    span:first-child {
      color: red;
      section {
        visibility: visible;
      }
    }
    &:hover span {
      color: black;
      transition: none;
      section {
        visibility: hidden;
        transition: none;
      }
    }
    
    span {
      float: right;
      margin-left: 10px;
      transition: 0s 9999s;
    
      section {
        position: absolute;
        left: 0;
        right: 0;
        top: 22px;
        bottom: 0;
        visibility: hidden;
        transition: 0s 9999s;
      }
      &:hover {
        color: red;
        transition: none;
        section {
          visibility: visible;
          transition: none;
        }
      }
    }
  }
}

/* div:hover span {
  color: black;
  transition: none;
}
div span:hover {
  color: red;
  transition: none;
}

div:hover span section {
  visibility: hidden;
  transition: none;
}
div span:hover section {
  visibility: visible;
  transition: none;
}
div span section {
  visibility: hidden;
  transition: 0s 99999s;
}
div span {
  float: left;
  margin: 10px;
  transition: 0s 99s;
}

main {

}
section {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  bottom: 0;
  visibility: hidden;
}
 */