* {
  box-shadow: inset 0 0 1px red;
}

ul,
li {
  list-style-type: none;
  padding        : 0;
}

a {
  text-decoration: none;
}

body {
  font            : 14px/1.5 Helvetica, Arial, sans-serif;
  color           : #333;
  background-color: #fff;
  min-width       : 1226px;
  margin          : 0;
}

/* 顶端黑色 */
.site-topbar {
  position        : relative;
  height          : 40px;
  font-size       : 12px;
  z-index         : 30;
  background-color: black;
}

.container {
  width       : 1226px;
  margin-left : auto;
  margin-right: auto;
}

.site-topbar .topbar-nav {
  float      : left;
  height     : 40px;
  line-height: 40px;
}

.site-topbar .appcode img {
  display: block;
  top    : 18px;
  margin : 18px 17px 12px;
  width  : 90px;
  height : 90px;
}

.site-topbar .appcode {
  position: relative;
}

.site-topbar .appcode .title {
  display    : block;
  font-size  : 13px;
  color      : black;
  line-height: 40px;
  margin-top : -15px;
  text-align : center;
}

.site-topbar .appcode>.code {
  display         : block;
  position        : absolute;
  left            : -40px;
  height          : 0;
  overflow        : hidden;
  box-shadow      : 0 1px 5px #aaa;
  background-color: #fff;
  transition      : .2s;
}

.site-topbar .appcode:hover>.code {
  z-index   : 50;
  height    : 150px;
  transition: .2s;
}

.site-topbar .sanjiao {
  display      : block;
  position     : absolute;
  width        : 0;
  height       : 0;
  padding      : 0;
  top          : 22px;
  left         : 15px;
  border       : 0px transparent solid;
  border-bottom: 9px white solid;
}

.site-topbar .appcode:hover>.sanjiao {
  border       : 9px transparent solid;
  border-bottom: 9px white solid;
}

.site-topbar .topbar-cart {
  float      : right;
  position   : relative;
  margin-left: 15px;
  font-size  : 12px;
  text-align : center;
}

.site-topbar .topbar-cart a {
  width : 120px;
  height: 40px;
}

.site-topbar .topbar-cart .topbar-cart-list {
  display         : block;
  position        : absolute;
  top             : 100%;
  right           : 0;
  width           : 220px;
  height          : 0px;
  margin          : 0;
  box-shadow      : 0 1px 5px #aaa;
  background-color: #fff;
  overflow        : hidden;
  transition      : .5s;
}

.site-topbar .topbar-cart .topbar-cart-list p {
  line-height: 100px;
  margin     : 0;
}

.site-topbar .topbar-cart:hover .topbar-cart-list {
  height    : 100px;
  transition: .5s;
}

.site-topbar .topbar-info {
  float      : right;
  position   : relative;
  height     : 40px;
  line-height: 40px;
}

.site-topbar .topbar-info a {
  padding: 0 5px;
}

.site-topbar a {
  color          : #b0b0b0;
  line-height    : 40px;
  display        : inline-block;
  text-decoration: none;
}

.site-topbar .topbar-nav>a:hover,
.site-topbar .topbar-info>a:hover {
  color: #fff;
}

.site-topbar .topbar-cart>a:hover {
  background-color: #fff;
}

.topbar-nav .sep {
  margin: 0 .3em;
  color : #424242;
}

/* 顶端白色 */
.site-header {
  position: relative;
  height  : 100px;
}

.site-header>.container {
  height: 100px;
  width : 1226px;
}

.site-header .header-logo {
  background     : url(//s02.mifile.cn/assets/static/image/logo-mi2.png) no-repeat;
  background-size: 56px;
  float          : left;
  height         : 62px;
  margin-top     : 22px;
}

.site-header .nav-list {
  display  : flex;
  float    : left;
  width    : 496px;
  margin   : 0;
  padding  : 12px 0 0 176px;
  font-size: 16px;
}

.site-header .none-list {
  display  : flex;
  float    : left;
  width    : 110px;
  margin   : 0;
  padding  : 12px 0 0 0;
  font-size: 16px;
}

.site-header .nav-item {
  float: left;
}

.header-nav .nav-item-link {
  display: inline-block;
  padding: 26px 10px 38px;
  color  : #333;
}

.header-nav .item-children {
  position        : absolute;
  width           : 100%;
  height          : 0;
  left            : 0;
  z-index         : 41;
  overflow        : hidden;
  background-color: #fff;
  transition      : height .1s .5s, z-index 0 0;
}

.nav-list:hover .item-children {
  height    : 232px;
  transition: .1s .5s;
}

.nav-item:hover .nav-item-link {
  color: #ff6700;
}

.nav-item:hover>div {
  z-index   : 42;
  transition: .1s .5s;
}

.header-nav .item-children ul {
  display: flex;
  width  : 1226px;
  height : 100%;
  margin : auto;
}

.header-nav .item-children li {
  width: calc(100% /6);
}

.header-nav .item-children li a {
  display   : block;
  text-align: center;
}

.header-nav .item-children li img {
  width : 160px;
  height: 110px;
  margin: 20px auto;
}

.header-nav .item-children li p {
  margin     : 0;
  line-height: 20px;
  font-size  : 12px;
}

.nav-list .title {
  color: black;
}

.nav-list .price {
  color: #ff6700;
}

/* 搜索框 */
.site-header .header-nav-search {
  float     : right;
  display   : flex;
  margin-top: 25px;
}

.site-header .header-nav-search input {
  width       : 223px;
  height      : 50px;
  padding     : 10px;
  outline     : none;
  border-right: none;
  box-sizing  : border-box;
  border      : 1px solid #e0e0e0;
}

.site-header .header-nav-search button {
  width           : 50px;
  height          : 50px;
  border          : 1px solid #e0e0e0;
  padding         : 1px 6px;
  background-color: #fff;
}

.site-header .header-nav-search i {
  font: 20px bold;
}

.site-header .header-nav-search button:hover {
  background-color: #ff6700;
  border-color    : #ff6700;
}

.site-header .header-nav-search button:hover i {
  color: #fff;
}

/* 主菜单 */
.main-list {
  width   : 1226px;
  height  : 644px;
  margin  : auto;
  position: relative;
}

.main-list .aside-list {
  list-style-type : none;
  margin-top      : 0;
  padding         : 20px 0;
  height          : 420px;
  width           : 234px;
  background-color: rgb(105, 101, 101, .6);
  color           : white;
  position        : relative;
  z-index         : 40;
}

.main-list .children-list {
  margin     : 0;
  padding    : 0 0 0 30px;
  width      : 204px;
  height     : 42px;
  line-height: 42px;
}

.main-list .children-list:hover {
  background-color: #ff6700;
}

.main-list .children-list .dayuhao {
  position: absolute;
  right   : 21px;
  color   : #fff;
}

.aside-list :nth-child(1):hover .children-list-col1,
.aside-list :nth-child(2):hover .children-list-col2,
.aside-list :nth-child(3):hover .children-list-col3,
.aside-list :nth-child(4):hover .children-list-col4,
.aside-list :nth-child(5):hover .children-list-col5,
.aside-list :nth-child(6):hover .children-list-col6,
.aside-list :nth-child(7):hover .children-list-col7,
.aside-list :nth-child(8):hover .children-list-col8,
.aside-list :nth-child(9):hover .children-list-col9,
.aside-list :nth-child(10):hover .children-list-col10 {
  display: block;
}

div.children-list-col1,
div.children-list-col2,
div.children-list-col3,
div.children-list-col4 {
  position        : absolute;
  display         : none;
  left            : 100%;
  top             : 0px;
  width           : 992px;
  font-size       : 14px;
  border          : 1px solid #e0e0e0;
  box-shadow      : 0 8px 16px rgb(0 0 0 / 18%);
  background-color: #fff;
}

div.children-list-col5,
div.children-list-col6,
div.children-list-col8,
div.children-list-col9,
div.children-list-col10 {
  position        : absolute;
  display         : none;
  left            : 100%;
  top             : 0px;
  width           : 795px;
  font-size       : 14px;
  border          : 1px solid #e0e0e0;
  box-shadow      : 0 8px 16px rgb(0 0 0 / 18%);
  background-color: #fff;
}

div.children-list-col7 {
  position        : absolute;
  display         : none;
  left            : 100%;
  top             : 0px;
  width           : 530px;
  font-size       : 14px;
  border          : 1px solid #e0e0e0;
  box-shadow      : 0 8px 16px rgb(0 0 0 / 18%);
  background-color: #fff;
}

div.children-list-col ul {
  float  : left;
  width  : 248px;
  padding: 2px 0;
}

div.children-list-col li {
  width : 265px;
  height: 76px;
}

div.children-list-col li:hover>a {
  color: #ff6700;
}

div.children-list-col li a {
  width      : 225px;
  height     : 76px;
  line-height: 76px;
  color      : #333;
  transition : color .2s;
}

div.children-list-col .list-col1 img {
  margin        : 0 12px 0 30px;
  vertical-align: middle;
}

div.children-list-col .list-col1 span {
  display       : inline-block;
  width         : 172px;
  line-height   : 40px;
  white-space   : nowrap;
  text-overflow : ellipsis;
  overflow      : hidden;
  vertical-align: middle;
}

.icon-left,
.icon-right {
  display        : flex;
  justify-content: center;
}

.main-bottom {
  display        : flex;
  justify-content: space-between;
  position       : absolute;
  bottom         : 0;
  width          : 1226px;
  height         : 170px;
  margin         : 14px 0 0 0;
}

.main-bottom .first {
  width           : 228px;
  height          : 164px;
  margin          : 0;
  border          : 0;
  padding         : 3px;
  background-color: #5f5750;
}

.main-bottom .second,
.main-bottom .third,
.main-bottom .fourth {
  width     : 316px;
  height    : 170px;
  margin    : 0;
  border    : 0;
  padding   : 0;
  transition: .4s;
}

.main-bottom .first-list {
  margin    : 0;
  padding   : 0;
  font-size : 12px;
  text-align: center;
}

.main-bottom .first-list li {
  position: relative;
  float   : left;
  width   : 70px;
  height  : 82px;
  padding : 0 3px;
}

.main-bottom .first-list li::before {
  position        : absolute;
  content         : "";
  top             : -1px;
  left            : 6px;
  width           : 64px;
  height          : 1px;
  background-color: #665e57;
}

.main-bottom .first-list li::after {
  position        : absolute;
  content         : "";
  top             : 6px;
  left            : 0px;
  width           : 1px;
  height          : 70px;
  background-color: #665e57;
}

.main-bottom .first-list a {
  display    : block;
  padding-top: 18px;
  opacity    : .7;
  color      : #fff;
}

.main-bottom .first-list a:hover {
  opacity: 1;
}

.main-bottom .first-list img {
  display: block;
  width  : 24px;
  height : 24px;
  margin : 0 auto 4px;
}

.main-bottom .second img,
.main-bottom .third img,
.main-bottom .fourth img {
  display: block;
  width  : 316px;
  height : 170px;
}

.main-bottom .second:hover,
.main-bottom .third:hover,
.main-bottom .fourth:hover {
  box-shadow: 0 15px 30px rgb(0, 0, 0, .2);
  transition: box-shadow 0.4s linear;
}

/* 主要页面板块--淡灰色部分 */
.page-main {
  display         : block;
  width           : 100%;
  height          : 6385px;
  padding         : 10px 0;
  background-color: #f5f5f5;
}

/* 主要板块中中间从上到下的整块 */
.page-main .container {
  display: block;
  width  : 1226px;
  height : 6385px;
  margin : auto;
}

.page-main .picture-k40 {
  height  : 120px;
  margin  : 22px 0;
  overflow: hidden;
}

h2 {
  height     : 58px;
  width      : 1226px;
  margin     : 0;
  line-height: 58px;
}

.page-main .phone-header {
  position: relative;
  margin  : 0;
}

.page-main .phone-more {
  position   : absolute;
  right      : 0;
  top        : 0;
  width      : 92px;
  height     : 58px;
  line-height: 58px;
  color      : black;
}

.page-main .phone-more a {
  display  : block;
  width    : 92px;
  height   : 17px;
  font-size: 16px;
  color    : #424242;
}

.page-main .phone-more i {
  position        : absolute;
  right           : 0;
  top             : 17px;
  width           : 20px;
  height          : 20px;
  margin-left     : 4px;
  border-radius   : 9px;
  background-color: #b0b0b0;
}

.page-main .phone-more i::before {
  position : absolute;
  top      : -18px;
  font-size: 21px;
  color    : #fff;
}

.page-main .phone-more a:hover {
  color: #ff6700;
}

.box9 {
  width        : 1248px;
  height       : 628px;
  margin-bottom: 8px;
}

.box9 ul {
  width         : 100%;
  height        : 100%;
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  padding       : 0;
  margin        : 0;
}

.box9 .box9-first {
  width : 239px;
  height: 100%;
}

.box9 .box9-first img {
  width : 234px;
  height: 614px;
}

.box9 .box9-top4 {
  margin-bottom: 24px;
}

.box9-list>li {
  display         : block;
  width           : 225px;
  height          : 300px;
  padding         : 0;
  background-color: #fff;
  justify-content : space-between;
  transition      : box-shadow 1s 3s;
}

.box9-list li:hover {
  box-shadow: 0 15px 30px rgb(0, 0, 0, .2);
  transition: box-shadow 1s 3s;
}

.box9 .box8 a {
  display   : block;
  height    : 100%;
  padding   : 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.box9 .box8 img {
  width : 160px;
  height: 160px;
}

.box8 .title {
  line-height: 15px;
  font-size  : 14px;
  color      : black;
}

.box8 .desc {
  line-height: 10px;
  font-size  : 12px;
  color      : #b0b0b0;
}

.box8 .price {
  line-height: 10px;
  color      : #ff6700;
  font-size  : 14px;
}

div.wearable,
div.home-appliance {
  width        : 1226px;
  height       : 686px;
  margin-bottom: 20px;
}

.wearable-header,
.appliance-header {
  height  : 58px;
  width   : 1226px;
  position: relative;
}

div.wear-more {
  position: absolute;
  right   : 0px;
  top     : 17px;
  height  : 40px;
  width   : 124px;
  padding : 5px 0;
}

.more-list {
  height: 40px;
  width : 124px;
  margin: 0;
}

.wear-more .more-list-child {
  float       : left;
  margin      : 0;
  padding-left: 30px;
  width       : 32px;
  height      : 40px;
  font-size   : 16px;
  line-height : 40px;
  transition  : 0s 999s;
}

.more-list:hover .more-list-child {
  color     : black;
  transition: none;
}

.more-list .more-list-child:hover {
  color     : #ff6700;
  transition: none;
}


div.box9-one {
  position  : absolute;
  left      : -1102px;
  top       : 40px;
  visibility: visible;
}

div.box9-two {
  position  : absolute;
  left      : -1102px;
  top       : 40px;
  visibility: hidden;
}

div.wear-more>.more-list:hover div {
  visibility: hidden;
  transition: none;
}

div.wear-more .more-list-child:hover>div {
  visibility: visible;
  transition: none;
}

div.wear-more div {
  transition: 0s 999s;
}

/* 半个大小的更多链接li------------------------ */
.wearable-header .box9-one ul li:nth-child(9),
.wearable-header .box9-two ul li:nth-child(7) {
  height       : 150px;
  margin-bottom: 150px;
}

/* 半个大小的购物链接li */
.appliance-header .box9-one ul li:nth-child(10),
.appliance-header .box9-two ul li:nth-child(10) {
  height       : 140px;
  margin-bottom: 20px;
}

/* 购物链接li的组合更多链接 */
.appliance-header .box9-one ul li:nth-child(11),
.appliance-header .box9-two ul li:nth-child(11) {
  height: 140px;
  margin: 0px;
}

/* 半个盒子里的div----------------------- */
.wearable-header .box9-one ul li:nth-child(9) .last-box-9,
.wearable-header .box9-two ul li:nth-child(7) .last-box-9,
.appliance-header .box9-one ul li:nth-child(10) .last-box-9,
.appliance-header .box9-one ul li:nth-child(11) .last-box-9,
.appliance-header .box9-two ul li:nth-child(10) .last-box-9,
.appliance-header .box9-two ul li:nth-child(11) .last-box-9 {
  width : 80px;
  height: 45px;
  margin: 30px 100px 0 22px;
}

/* div里的文本 ---------------------------*/
.wearable-header .box9-one ul li:nth-child(9) .last-title,
.wearable-header .box9-two ul li:nth-child(7) .last-title,
.appliance-header .box9-one ul li:nth-child(10) .last-title,
.appliance-header .box9-one ul li:nth-child(11) .last-title,
.appliance-header .box9-two ul li:nth-child(10) .last-title,
.appliance-header .box9-two ul li:nth-child(11) .last-title {
  margin     : 0;
  line-height: 20px;
}

.box9-other .duo {
  font-size: 18px;
}

.box9-other .hot {
  font-size : 12px;
  text-align: left;
  color     : #b0b0b0;
}

section.picture-more {
  float       : right;
  width       : 45px;
  height      : 45px;
  margin-right: -96px;
  margin-top  : -40px;
}

section.picture-more>i {
  font-size: 50px;
  color    : #ff6700;
}

div.home-appliance .wear-more {
  position: absolute;
  right   : 0px;
  top     : 17px;
  height  : 40px;
  width   : 168px;
  padding : 5px 0;
}

div.home-appliance .more-list {
  height: 40px;
  width : 168px;
  margin: 0;
}

.home-appliance .wear-more .more-list-child {
  float       : left;
  margin      : 0;
  padding-left: 18px;
  width       : 66px;
  height      : 40px;
  font-size   : 16px;
  line-height : 30px;
  transition  : 0s 999s;
}

.appliance-header .more-list:hover .more-list-child {
  color     : black;
  transition: none;
}

.appliance-header .more-list .more-list-child:hover {
  color     : #ff6700;
  transition: none;
}

.appliance-header .box9-one {
  position  : absolute;
  left      : -1057px;
  top       : 40px;
  visibility: visible;
}

.appliance-header .box9-two {
  position  : absolute;
  left      : -1057px;
  top       : 40px;
  visibility: hidden;
}

.appliance-header .middle a {
  padding: 0;
}

.appliance-header .middle img {
  width : 225px;
  height: 300px;
}

.appliance-header .box9-small .price,
.appliance-header .box9-small .title {
  text-align   : left;
  margin-bottom: 10px;
}

.appliance-header .box9-one .box9-small img {
  width : 80px;
  height: 80px;
  margin: -26px 0 0 -19px;
}

.appliance-header .box9-two .box9-small img {
  width : 80px;
  height: 80px;
  margin: -53px 0 0 -19px;
}